# Gradle stuff
.gradle
build
*/.gradle
*/build

# Eclipse stuff
*/.settings/**
!*/.settings/org.eclipse.*.prefs
*/.classpath
*/.project
*/bin
*/bin-fat
*/bin-test
/.project
/.settings
/gradle.properties
